<nav class="navbar">

    <div class="nav-links">
        <ul>


            <li> <a class="navStyle" href="{{ path('presentation') }}" title="Présentation">Présentation</a></li>
            <li> <a class="navStyle" href="{{ path('consultations') }}" title="Consultations">Consultations</a></li>
            <li> <a class="navStyle" href="{{ path('experiences') }}" title="Expériences">Expériences</a></li>
            <li> <a class="navStyle" href="{{ path('infos_pratiques') }}" title="Informations pratiques">Informations Pratiques</a></li>
            <li> <a class="navStyle" href="{{ path('prendre_rdv') }}" title="Prendre rdv">Prendre Rendez-vous</a></li>
        </ul>

        <span class="line"></span>


    </div>
</nav>