{%extends 'base.html.twig'%}

{%block title%} Informations Pratiques {%endblock%}

 {% block javascripts %}
     {# {{ encore_entry_script_tags('app') }} #}

 {% endblock %}

{%block body%}
<body class="arrierePlanTrans">
    <main>
        <div class="container">
            <div class="row">
            <div class="col">
                <img style="width: 300px" src="{{ asset('img/Alice.jpg') }}" alt="THEBAULT Alice">
            </div>
            <div class="col-5" style="text-align: center">
                <h4 style="font-weight: bold">Proche de la Chapelle sur Erdre, Sucé sur Erdre, Grandchamps des Fontaines, Treillières, Carquefou et Nort sur Erdre</h4>
                <br>
        <h4>Durée et tarif des consultations</h4>
            Consultation individuelle enfant, adolescent et adulte<br>
            Séance de 40 minutes, au tarif de 50€<br>

           <h4> Consultation famille et couple</h4>
            1ère séance de 1h30, au tarif de 130€<br>
            séance de suivi de 40 minutes, au tarif de 65€<br>


            </div>
            <div class="col">
                <img style="width: 300px" src="{{ asset('img/cabinet.jpg') }}" alt="Cabinet Psychologue">
            </div>
        </div>
        </div>
        <div class="container">
        <div class="row">
<div class="col" style="text-align: center">
    <br>
    <h4 style="font-weight: bold">Le cabinet est accessible aux personnes à mobilité réduite</h4>
    <br>
        <h4 >Règlement et facturation</h4>
           <h6> Le règlement des consultations se fait à l’issue de chaque entretien, <br>
        par chèque libellé à l’ordre d’Alice Thébault, ou bien par espèces.<br></h6>

            Les consultations chez un psychologue ne sont pas remboursées par la sécurité sociale. <br>
        Cependant, certaines mutuelles proposent un remboursement total ou partiel des rendez-vous. Je vous fournirai une facture sur demande.

            Toute consultation non annulée sera due.

    <br>
            <p style="font-weight: bold">Je ne fais pas partie du dispositif “mon psy”, pour plus d’explication veuillez cliquer ici :

    <div class="box">
        <a href="#manifeste" class="button" >
            <img style="width: 30px;" src="{{ asset('img/monpsy1.jpg') }}" alt="monPsy">
        </a>
    </div>

    <div id="manifeste" class="overlay">
        <div class="manifeste">
            <p><img src="{{ asset('img/manifestpsy.jpg') }}"  class="monPsy" alt="Manifeste Psy"></p>
            <a href="#" class="cross">&times;</a>
        </div>
    </div>
</div>
        </div>
        </div>
    </main>
</body>

{%endblock%}